<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>IntelligentAnnotator</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->


    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/FileSaver.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/intelligenthtml.js"></script>
</head>
<body >
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    新建项目
                </h4>
            </div>
            <div class="modal-body">
                项目名称
                <input type="text" class="form-control" style="margin: 10px" id="newname" placeholder="请输入项目名称">
            </div>
{#            <div class="modal-body">#}
{#                预设标签#}
{#                <div class="form-inline">#}
{#                <input type="text" class="form-control" style="margin: 10px" id="tag" placeholder="请输入标签名称/将所有标签添加后再提交">#}
{#                <button type="button" class="btn btn-default" onclick="addTag()">#}
{#                    添加#}
{#                </button>#}
{#                </div>#}
{#                <div id="tags"></div>#}
{#            </div>#}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close1" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary"  onclick="confirmCreateProject()">
                    提交
                </button>

            </div>
        </div><!-- /.modal-content -->

    </div><!-- /.modal -->
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>

            </div>

            <div class="modal-body">
                预设标签
                <div class="form-inline">
                    <input type="text" class="form-control" style="margin: 10px" id="tag1" placeholder="请输入标签名称/将所有标签添加后再提交">
                    <button type="button" class="btn btn-default" onclick="addTag_change()">
                        添加
                    </button>
                </div>
                <div id="tags1"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close11" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary"  onclick="confirmChangeTags()">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<nav class="navbar navbar-default navbar-fixed-top" style="padding-top: 20px;font-size: 20px; ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="height: 80px">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="width: 300px;font-size: 30px">   IntelligentAnnotator</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#" onclick="newproject()">新建项目 <span class="sr-only">(current)</span></a></li>

                <li class="dropdown">
                    <a href="#" id="dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">当前项目<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="selectproject"  >
                    </ul>
                </li>
                <li><a href="#" onclick="importClick()" >导入</a></li>
                <input type="file" id="files" style="display:none" onchange="fileImport();"/>

                <li><a href="#" id="export" onclick="fileexport()">导出</a></li>

            </ul>
            <form class="navbar-form navbar-left">

                <button type="submit" class="btn btn-default" onclick="confirmLabeledData()">提交</button>
            </form>

            <div class="progress" style="margin-top: 15px;width: 400px">
                <div class="progress-bar progress-bar-striped active" id="progress" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="panel panel-default" style="margin: 15px">
    <div class="panel-heading" style="background-color: white;height: 120px;margin-top: 90px">
        <div style="background-color: #e9ecef;height: 80px;border-radius: 15px">
        <div class="panel-title" id="index1"style="text-indent: 2em"></div>
        </div>
        <div id="choose1" style="margin: 5px;margin-left: 30px">选中标签为：</div>
    </div>
    <div class="panel-body" style="height: 50px;">
        <div class="form-inline">
        <input class="orange" type="checkbox" id="ok1" style="margin-bottom: 8px" >
        <div id="buttons0"style="margin-left: 25px;margin-top: -32px"></div>
</div>
    </div>
</div>

<div class="panel panel-default" style="margin: 15px">
    <div class="panel-heading" style="background-color: white;height: 120px;">
        <div style="background-color: #e9ecef;height: 80px;border-radius: 15px">
            <div class="panel-title" id="index2" style="text-indent: 2em"></div>
        </div>
        <div id="choose2" style="margin: 5px;margin-left: 30px">选中标签为：</div>
    </div>
    <div class="panel-body" style="height: 50px;">
        <div class="form-inline">

        <input class="orange" type="checkbox" id="ok2"style="margin-bottom: 8px ">
            <div id="buttons1"style="margin-left: 25px;margin-top: -32px"></div>
        </div>
    </div>
</div>

<div class="panel panel-default" style="margin: 15px">
    <div class="panel-heading" style="background-color: white;height: 120px;">
        <div style="background-color: #e9ecef;height: 80px;border-radius: 15px">
            <div class="panel-title" id="index3"style="text-indent: 2em"></div>
        </div>
        <div id="choose3" style="margin: 5px;margin-left: 30px">选中标签为：</div>
    </div>
    <div class="panel-body" style="height: 50px;">
        <div class="form-inline">

        <input class="orange" type="checkbox" id="ok3" style="margin-bottom: 8px">
            <div id="buttons2"style="margin-left: 25px;margin-top: -32px;"></div>
        </div>
    </div>
</div>

<div class="panel panel-default" style="margin: 15px">
    <div class="panel-heading" style="background-color: white;height: 120px;">
        <div style="background-color: #e9ecef;height: 80px;border-radius: 15px">
            <div class="panel-title" id="index4"style="text-indent: 2em"></div>
        </div>
        <div id="choose4" style="margin: 5px;margin-left: 30px">选中标签为：</div>
    </div>
    <div class="panel-body" style="height: 50px;">
        <div class="form-inline">
        <input class="orange" type="checkbox" id="ok4" style="margin-bottom: 8px">
            <div id="buttons3" style="margin-left: 25px;margin-top: -32px"></div>
        </div>
    </div>
</div>

<div class="panel panel-default" style="margin: 15px">
    <div class="panel-heading" style="background-color: white;height: 120px;">
        <div style="background-color: #e9ecef;height: 80px;border-radius: 15px">
            <div class="panel-title" id="index5"style="text-indent: 2em"></div>
        </div>
        <div id="choose5" style="margin: 5px;margin-left: 30px">选中标签为：</div>
    </div>
    <div class="panel-body" style="height: 50px;">
        <div class="form-inline">

        <input class="orange" type="checkbox" id="ok5" style="margin-bottom: 8px">
            <div id="buttons4"style="margin-left: 25px;margin-top: -32px"></div>
        </div>
    </div>
</div>

<div class="panel panel-default" style="margin: 15px">
    <div class="panel-heading" style="background-color: white;height: 120px;">
        <div style="background-color: #e9ecef;height: 80px;border-radius: 15px">
            <div class="panel-title" id="index6"style="text-indent: 2em"></div>
        </div>
        <div id="choose6" style="margin: 5px;margin-left: 30px">选中标签为：</div>
    </div>
    <div class="panel-body" style="height: 50px;">
        <div class="form-inline">

        <input class="orange" type="checkbox" id="ok6" style="margin-bottom: 8px">
            <div id="buttons5"style="margin-left: 25px;margin-top: -32px"></div>
        </div>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>